<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
{% load static %}
   <head>
      <meta charset="utf-8"/>
      <title>Chat Rooms</title>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">
   </head>

  
<body>
      <div id="container">
         <div>
            <button class="btn" onclick="logout()">Logout</button>
            <button id="Rules" onclick="openStoryline()">Rules</button>
         </div>
         <div class="room">
            <div class="rooms">
			  <h3 style="font-size:5vh"> OPEN PLAYING ROOMS </h3>
			
			  {% for room in rooms %}
			  <li class="room-link" id="{{ room.title }}" onclick='openroom(this)'>{{ room }}</li>
			
			  {% empty %}
			  <em> NO PLAYING ROOM OPEN .....CREATE NEW ROOM ;)</em><br/>
			  <a href="{% url 'create_room' %}">Create New Room</a>
			  {% endfor %}
		   </div>
         </div>
       

       <!-- This part is to show the rules -->
          <div class="newsline">
              <div class="upperTriangle"></div>
              <button class="close" type="button">
                 <span class="cross" onclick="closeStoryline()">&times;</span>
              </button>
              <div class="lowerTriangle"></div>
          </div>
      </div>
   </body>
   <script>
	   function openroom(e) {
        var roomName = e.id;
        window.location.pathname = '/chat/' + roomName + '/';
    	};
	   

        function logout(){
            window.location.pathname='logout';
        }
     

     function openStoryline()
        {
            document.getElementsByClassName('newsline')[0].style.display = 'block';
            document.getElementsByClassName('newsline')[0].classList.remove("revert");
            document.getElementsByClassName('lowerTriangle')[0].classList.remove("originalPosition");
            document.getElementsByClassName('lowerTriangle')[0].classList.add("changePos");
        }

        function closeStoryline()
        {
            document.getElementsByClassName('lowerTriangle')[0].classList.add("originalPosition");
            document.getElementsByClassName('newsline')[0].classList.add("revert");
            document.getElementsByClassName('lowerTriangle')[0].classList.remove("changePos");
            setTimeout(function(){
                document.getElementsByClassName('newsline')[0].style.display = 'none';
            }, 1000);
        }
   </script>
